url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
    
}

body {
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;    
    background-image: linear-gradient(60deg, #000 1%, #747474 99%);
}

header {
    margin-top: 30px;
}



input{
    display: none;
}
hr {
    
    margin: 5px auto;
    width: 30%;
}



.container {
    position: relative;
    display: flex;   
    justify-content: center;
    width: 480px;
    height:700px;
    overflow: hidden;
    
    flex-wrap: wrap;
    z-index: 1;

}

.container .card {
    position: relative;
    width: 300px;
    height: 480px;
    margin-top: 30px;    
    box-shadow: 20px 20px 50px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    background-image: url(../img/537e4079-72f6-492c-ac85-d20524015151.jpg);
    background-size: cover;
    background-position: 50% 50%;   
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 2px solid rgba(128, 128, 128, 0.5);
    cursor: pointer;
    transition: .5s;
}

.container .card .content {

    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: .5s;
}

.container .card:hover {
    background-image: none;
    transform: scale(1.1);
    border-top: 2px solid black;
    border-left: 2px solid black;
}

.container .card:hover .content {

    transform: translateY(0px);
    opacity: 1;

}

.imgcard {
    width: 300px;
    height: 480px;
    padding: 0px;
    opacity: .5;
}

.incard {
    text-align: center;
}

.textocard {

    padding: 20px 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;


}
.navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;

}
.bar{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;    
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}
.bar:hover{
    background-color: white;
}
.slide{
    display: flex;
    width: 300%;
   
}
#imgfixed{
    width: 150px;
    height: auto;
    position: fixed;
    top: 80px;
    right: 80px;
    border:1px solid rgb(0, 0, 0);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 1);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#imgfixed:hover{
    transform: scale(1.05);
}
#linkdin {
    position: absolute;
    top: 200px;
    right: 20px;
   
    text-align: center;
    bottom: 20px;
    width: 50px;
    height: auto;
    border-radius: 50%;
    opacity: 1;
}

